http://:4000 {
    encode gzip

	handle /api/* {
        uri strip_prefix /api
		reverse_proxy {$PROXY_BACKEND_HOST}:5000
	}

	handle /api/v2/* {
		uri strip_prefix /api/v2
		reverse_proxy {$PROXY_BACKEND_V2_HOST}:5010
	}

	handle {
		root * /workshops-frontend
		try_files {path} /index.html
		file_server
	}
}