a {
  color: rgb(79 70 229 / var(--tw-text-opacity, 1));
}

:is(:where(.dark) a) {
    --tw-text-opacity: 1;
    color: rgb(129 140 248 / var(--tw-text-opacity));
}

/* Adjust color of lines between timeline entires */
#changelog-timeline-content ol li span.dark\:ring-gray-900:is(.dark *) {
    --tw-ring-color: oklch(37.3% 0.034 259.733 / var(--tw-ring-opacity, 1));
}

#changelog-timeline-content ol.dark\:border-gray-700:is(.dark *) {
    border-color: oklch(55.1% 0.027 264.364 / var(--tw-border-opacity, 1));
}

/* Manual background color changes of dropdowns (due to theme toggle) should be instant */
button[data-testid="dropdown"] {
    transition-duration: 0ms;
    span {
        transition-duration: 0ms;
        svg {
            transition-duration: 0ms;
        }
    }
}
